body{
    background-color: rgb(245, 154, 171);
}
.headi{
    font-size: 300%;
}
.a{
    background-color: rgb(233, 23, 62);
    margin-top:7%;
    margin-bottom: 30%;
    margin-left: 28%;
    margin-right: 25%;
    padding-top: 3%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color:whitesmoke;
    border-radius: 5%;
    height: 50%;
    width:500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(156, 3, 31, 0.956);
}
#output{
    font-size: 175%;
    font-style: serif;
    font-weight: normal;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 6%;
    height: 1px;
    width:100%;
    text-align: center;
}
#btn{
    font-size: 20px;
    
    margin-top: 20%;
    padding: 15px 32px;
    width: 40%;
    height: 50px;
    border-radius: 3rem;
    box-shadow:rgba(25,25,25,0.004);
    border-color: rgb(244, 237, 237);
    color:rgb(226, 50, 82) ;
    background-color: rgb(250, 199, 207);
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#btn:hover{
    background-color: whitesmoke;
    color: ;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 16px 25px 0 rgba(0,0,0,0.19);
}
#btn:active{
    background-color: ;
    box-shadow: 0 5px #e61d1d;
    transform: translateY(4px);
}
@media screen and (max-width:600px){
    .a{
        
        margin-top:15%;
        margin-bottom: 25%;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 3%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
       
        height: 1000%;
        width:250px;
        
    }
    #output{
        font-family: cursive;
        font-size: 150%;
        margin-top: 15%;
        padding-top: 5%;
        padding-bottom: 20%;
        height: 4px;
        margin-bottom: 25%;
    }
    #btn{
        font-size: 13px;
        text-align: center;
        margin-top: 50%;
        

    }
}